<!-- The header with navigation. -->
<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__ul">
      <li class="main-header__li"><a href="/allProducts">Shop</a></li>
      <li class="main-header__li"><a href="/admin/addProduct">Add Product</a></li>
    </ul>
  </nav>
</header>
