<%- include('../includes/head.ejs') %>
  <body>
    <!-- The header with navigation. -->
    <%- include("../includes/navigation.ejs") %>

    <!-- The main section. -->
    <main>
      <form class="product_form" action="/admin/addProduct" method="POST">
        <div class="product_form_control">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" />
        </div>
        <button type="submit">Send</button>
      </form>
    </main>
<%- include('../includes/end.ejs') %>