.shop-header {
    background-color: rgb(252, 199, 211);
    border-radius: 10px;
  }

  .shop-header__nav {
    display: flex;
  }

  .shop-header__ul {
    list-style: none;
    display: flex;
  }

  .shop-header__li a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(199, 140, 154);
  }

  .shop-header__li a:hover,
  .shop-header__li a:active {
    color: white;
  }