<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <!-- Styling the Admin page. -->
    <link rel="stylesheet" href="/css/shop.css">
  </head>
  <body>
    <!-- The header with navigation. -->
    <header class="shop-header">
      <nav class="shop-header__nav">
        <ul class="shop-header__ul">
          <li class="shop-header__li"><a href="/shop/home">Shop</a></li>
          <li class="shop-header__li">
            <a href="/admin/addProduct">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- The main section. -->
    <main>
      <div class="grid">
        <article class="card_item">
          <header class="card_header">
            <h1 class="product_title">Averi's Treasure</h1>
          </header>
          <div class="product_image">
            <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fthumbs.dreamstime.com%2Fb%2Flandscape-natural-lmage-130994953.jpg&tbnid=WkDC901E0PcEBM&vet=12ahUKEwiRnrrd9eT-AhXIHbcAHVleDJkQMygBegUIARDZAQ..i&imgrefurl=https%3A%2F%2Fwww.dreamstime.com%2Fphotos-images%2Flmage.html&docid=SZmC_MOxMuA7NM&w=800&h=653&q=lmages&ved=2ahUKEwiRnrrd9eT-AhXIHbcAHVleDJkQMygBegUIARDZAQ" alt="Averi's Treasure">
          </div>
          <div class="card_content">
            <h2 class="product_price">$19.99</h2>
            <h2 class="product_description">An adventure book</h2>
          </div>
          <div class="card_actions">
            <button class="btn">Add to Cart</button>
          </div>
        </article>
      </div>
    </main>
  </body>
</html>
