.main-header {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 2px;
}

.main-header__ul {
    display: flex;
    list-style: none;
}

.main-header__li {
    margin: 0px 10px;
}

.btn {
    border-radius: 2px;
    background-color: aliceblue;
    margin-left: 10px;
}

.student-form__control {
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: 0px 2px 8px rgb(185, 184, 184);
}

.student-form__control label,
.student-form__control input {
    margin: 10px;
    font-size: large;
    font-weight: bold;
}